/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.photo{
margin:5px;
border:solid 1px black;
}

.photo img{
/* min-height:350px; */
}

.photos{
/* border:solid 1px black; */
}

.element.ponente{
background: #EF4B47;
/* background: hsl(62, 74%, 51%); */
margin: 5px;
}

.element.ponente .thumb{
/* none */
}

.element.ponente .title {
  font-size: 15px;
  font-weight: bold;
  color: hsla(62, 74%, 51%, 100);
  background-color:white;
  /* width:171px; */
  /* height:25px; */
  line-height:20px;
  margin-left:3px;
  margin-right:3px;
  margin-top:3px;
  margin-bottom:3px;
  padding-left:3px;
  line-height:19px\9;
  padding-top: 1px\9;
}

.title.subtitle {
margin-top:-5px!important;
color:#808080!important;
font-style:italic;
}

.element.ponente:hover > .little .thumb{
display:none;
}

.element.ponente:hover > .little .thumb.over{
display:block;
}

.element.ponente:hover > .little .title{
color:black;
}

.element.ponente > .little .thumb.over{
display:none;
}

.element.ponente > .little .thumb{
display:block;
margin-top:3px;
}

.big {
display: none;
}

.slideshow img{
max-width:none;
width:558px;
}

.slideshow{
top:3px;
left:3px;
width:558px;
position:absolute;
}

.head-element{
margin-left:3px;
margin-right:3px;
margin-top:3px;
display:inherit;
}

.widerer{
visibility:hidden;
}

/* .element.ponente.selected .title.description a {
  color:black;
  font-size: 15px;
  font-weight: bold;
  background-color:transparent;
  width:auto;
  left:initial;
  top:initial;
  padding-left:0px;
  line-height:19px\9;
  padding-top: 1px\9;
  padding-bottom: 1px\9;
} */

.element.ponente.doble.selected .title.description {
  line-height:18px;
  padding-top:1px;
  padding-bottom:1px;
  line-height:17px\9;
  padding-top: 1px\9;
  width:363px;
}

.element.ponente.triple.selected .title.description {
  line-height:18px;
  padding-top:1px;
  padding-bottom:1px;
  line-height:17px\9;
  padding-top: 1px\9;
  width:555px;
}

.element.ponente.doble.selected .title {
  color:black;
}

.element.ponente.triple.selected .title {
  color:black;
}

.element.ponente.selected .title a {
  color:black;
}

/* .element.ponente .little:hover {
cursor:pointer
} */

.element:hover {
cursor:pointer
}