body {
    background-color: #fff;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    -moz-font-feature-settings:"lnum" 1; 
-moz-font-feature-settings:"lnum=1"; 
-ms-font-feature-settings:"lnum" 1; 
-o-font-feature-settings:"lnum" 1; 
-webkit-font-feature-settings:"lnum" 1; 
font-feature-settings:"lnum" 1;

-moz-font-feature-settings:"liga" 1; 
-moz-font-feature-settings:"liga=1"; 
-ms-font-feature-settings:"liga" 1; 
-o-font-feature-settings:"liga" 1; 
-webkit-font-feature-settings:"liga" 1; 
font-feature-settings:"liga" 1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway;
    font-weight: 700;
    color: #333;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 18px;
    color: #000;
}

.subtitulo {
    color: #f7931d;
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
    font-style: italic;
    margin-top: -5px;
    
}

.h4blanco {
    font-family: Raleway;
    font-weight: 700;
    color: #f7931d;
    font-size: 18px;
}

.pfooter {
    line-height: 24px;
    font-size: 16px;
    color: #fff;
}

.h6footer {
    font-size: 14px;
    color: #fff;
}

.subtitulo a {
    text-decoration: underline;
}

.centered {
    text-align: center;
}

.goright {
    text-align: right;
}
.mt {
    padding-top: 25px;
}

.mtless {
    padding-top: 35px;
}

.mt50 {
    padding-top: 50px;
}

.mtplus {
    padding-top: 100px;
}

.mt200 {
    padding-top: 200px;
}

.mbless {
    padding-bottom: 30px;
}

.socializa {
    color: #000;
    font-size: 21px;
    padding-right: 15px;
    padding-top: 15px;
}

.socializablanco {
    color: #fff;
    font-size: 21px;
    padding-right: 15px;

}

.pt {
    padding-top: 15px;    
}

.strong {
    font-weight: 700;
    font-size: 16px;
    line-height: 33px;
    margin-left: 35px;
}

.justificado {
    text-align: justify;
}

a {
    color: #f7931d;
    word-wrap: break-word;

    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in;
}
a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}
a:before, a:after {
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in;
}

#enlaceblanco a {
    color: #fff;
    font-size: 16px;
}

#enlaceblanco a:hover {
    color: #f7931d;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.btn {
    border-radius: 0;
}
.btn-green {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    font-weight: 400;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    color: #f7931d;
    background-color: #000;
    border-color: #000;
    font-weight: 400;
}
.tm {
    font-size: 14px;
    line-height: 20px;
}

.boton {
    margin-top: 20px;
}
.menu {
    position: fixed;
    right: -200px;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
}
.menu.menu-open {
    right: 0;
}
.menu-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #1a1a1a;
    width: 200px;
    height: 100%}
.menu h1.logo a {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: .15em;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
}
.menu h1.logo a:hover {
    color: #1abc9c;
}
.menu img.logo {
    margin: 20px 0;
    max-width: 160px;
}
.menu a {
    margin-left: 20px;
    color: gray;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.menu a:hover {
    color: #fff;
}
.menu a:active {
    color: #fff;
}
.menu a>i {
    float: left;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 25px;
    font-size: 14px;
    line-height: 40px;
    margin: 25px 2px;
}
.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 14px;
    color: gray;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 20px;
    right: 5px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.menu-close:hover {
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.body-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
.body-push-toright {
    left: 200px;
}
.body-push-toleft {
    left: -200px;
}
.menu, .body-push {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#menuToggle {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, .25);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#menuToggle:hover {
    color: #fff;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

/*Nav nueva*/

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #f7931d;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    /*background-color: rgba(255,255,255,.2);*/
    background-color: #fff;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
    background-color: #f7931d;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #f7931d;
        color: #fff;
    }
    .top-nav-collapse .nav li a {
        color: #fff;
        font-size: 14px;
    }

    .top-nav-collapse .nav li a {
        color: #fff;
    }

    .top-nav-collapse .navbar-brand {
        color: #fff;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
    .navbar-custom a {
    color: #000;
    }


}

/*FIN Nav nueva*/

#headerwrap {
    /*background: url(../img/header-bg1.jpg) no-repeat center top;*/
    background-color: white;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 750px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#headerwrap h1 {
    margin-top: 130px;
    color: #fff;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 3px;
}
#headerwrap h2 {
    color: #000;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1px;
    font-feature-settings:;
}
#headerwrap i {
    font-size: 35px;
    color: #fff;
}
#headerwrap .spacer {
    margin-top: 0px;
}
#mapwrap {
    margin: 0;
    padding: 0;
}
#serviceswrap {
    background: url(../img/services-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#serviceswrap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}
#aboutwrap {
    background: url(../img/about-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#aboutwrap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}
#portwrap {
    background: url(../img/portfolio-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#portwrap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}
#sp {
    background: #2f2f2f;
    padding-top: 35px;
    padding-bottom: 35px;
}
#sp h2 {
    color: #fff;
}
#sp-standout {
    background: url(../img/sp-standout-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*#portfolio {
    width: 100%}*/
#services {
    background: #1abc9c;
    margin-top: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
}
#services h3 {
    color: #fff;
}
#services p {
    color: #fff;
}
#services i {
    color: #fff;
    font-size: 35px;
    margin-top: 22px;
}
#lg {
    background: #ebebeb;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
#lg .desc {
    text-align: left;
}
#call {
    background: #f7931d;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

#call h3 {
    color: #fff;
}
#call p {
    color: #fff;
}

#callnegro {
    background: #000;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: left;
}
#callnegro h3 {
    color: #fff;
}
#callnegro p {
    color: #fff;
}

#sf {
    display: block;
    width: 100%}
#sf .container {
    width: 100%}
#sf .col-lg-4 {
    margin: 0;
    padding: 15px;
}
#sf .lg {
    background-color: #1abc9c;
}
#sf .dg {
    background-color: #16a085;
}
#sf h4 {
    color: #fff;
}
#sf p {
    color: #fff;
}
#sf .ml {
    margin-left: 30px;
}
#sf i {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#cf {
    background: #f7931d;
}
#cf h4 {
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;
}
#cf p {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
}
#cf .container {
    width: 100%}
#cf .col-lg-8 {
    margin: 0;
    padding: 0;
}
.process {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}
.process li {
    display: block;
    float: left;
    padding: 1px;
    width: 100%;
    opacity: 0;
}
.process li.shown, .no-js .process li, .no-cssanimations .process li {
    opacity: 1;
}
.process li a, .process li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%}
.process.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
    opacity: 1;
}
}@-moz-keyframes moveUp {
    to {
    -moz-transform: translateY(0);
    opacity: 1;
}
}@keyframes moveUp {
    to {
    transform: translateY(0);
    opacity: 1;
}
}#chartwrap {
    width: 100%}
#chartwrap .container {
    margin-left: 0;
    padding-left: 0;
}
#chartwrap h1, #chartwrap p {
    margin-left: 10px;
}
.cardinfo {
    background: #fff;
    padding: 15px;
    margin: 2px;
    text-align: left;
}
.cardinfo i {
    font-size: 18px;
    padding-right: 20px;
}
.grid {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}
.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: 33%;
    opacity: 0;
}
.grid li.shown, .no-js .grid li, .no-cssanimations .grid li {
    opacity: 1;
}
.grid li a, .grid li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%}
.grid img {
    opacity: .7;
}
.grid img:hover {
    opacity: 1;
}
.grid.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
    opacity: 1;
}
}@-moz-keyframes moveUp {
    to {
    -moz-transform: translateY(0);
    opacity: 1;
}
}@keyframes moveUp {
    to {
    transform: translateY(0);
    opacity: 1;
}
}

.disableClick{
    pointer-events: none;
}

/*Fondos ponentes*/
.ponente1 {
  background-image: assets/img/portfolio/1.jpg
}



/* draggabillies
------------------------- */

.draggie {
  width:  150px;
  height: 150px;
  background: #FA0;
  border-radius: 10px;
  z-index: 1;
}

.draggie.is-dragging {
  opacity: 0.5;
  z-index: 2;
}

.draggie.is-dragging,
.draggie:hover,
#has-handle .handle:hover {
  cursor: move;
  background: #0AF;
}


/*-----*/


#container {
  width: 520px;
}

/* clearfix */
#container:after {
  content: ' ';
  display: block;
  clear: both;
}

.item {
  width: 120px;
  height: 120px;
  float: left;
  background: #F90;
  margin: 20px;
  border-radius: 10px;
}

.item:hover {
  background: #09F;
  cursor: move;
}

.item.is-dragging,
.item.is-positioning-post-drag {
  background: #09F;
  z-index: 2;
}

#notification {
  opacity: 0;
}

/* Portfolio Wrap Section */
#portfoliowrap {
    display: block;
    margin-top: 80px;
    margin-bottom: 80px;
}

#portfoliowrap h1 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.mt {
    margin-top: 50px;
}

.mb {
    margin-bottom: 60px;
}

#portfoliowrap i {
    font-size: 50px;
}

.proc {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 2px transparent;
}

#portfoliowrap .proc:hover {
    background-color: #eee;
    border-bottom: solid 2px #2f2f2f
}

.portfolio {
    background-image: url(../img/portfolio-sep.jpg);
}

.cursorgo {
    cursor: url(../img/go.svg), progress;
}

.cursorquestion {
    cursor: url(../img/question.svg), progress;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #f7931d;
    color: white;
    text-shadow: none;
}

/* Gallery Configuration */
.photo-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #2f2f2f;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.project .overlay {
  position: absolute;
  text-align: center;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  
}

.project:hover .photo-wrapper {
  background-color: #2f2f2f;
    background-image:url(../img/zoom.png);
    background-repeat:no-repeat;
    background-position:center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}
.project:hover .photo {
  opacity: 10;
  filter: alpha(opacity=4000);
  opacity: 0.1;
  filter: alpha(opacity=40);
}
.project:hover .overlay {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}

.desc {
    margin-top: 25px;
}


/*VIMEO responsive*/

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 57.25%;
}
 
.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*Intro*/

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

/*MAILCHIMP*/

#mc_embed_signup{
  background: none; 
  clear:left; font:14px; 
  Helvetica,Arial,sans-serif; 
}

.email {
  width: 100%; border: 0px; padding-left: 15px; padding-top: 5px;
  font-size: 20px;
  padding-bottom: 5px;
}

input[type="button"] {
  border: none;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  background-color: none;

}
user agent stylesheetinput[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: push-button;
-webkit-user-select: none;
white-space: pre;
}